<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./lib-css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <script src="./scripts/bootstrap.min.js" defer></script>
    <title>Pharmacy</title>
  </head>
  <body>
    <header class="text-bg-secondary p-2">
      <div class="container">
        <h1 class="text-end"><a class="reset-link-styles" href="http://127.0.0.1:3000">Pharmacy</a></h1>
      </div>
    </header>
    <main class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>Препараты</p>
            <div class="row">
              {{#each medicines}}
              <div class="col-sm-6">
                <div class="card d-flex justify-content-between flex-column" style="height: 100%">
                  <img src="{{image}}" alt="medicine_img">
                  <div class="card-body" style="flex: 0">
                    <h5 class="mt-a">{{name}}</h5>
                    <h5>{{price}} BYN</h5>
                    <h6>В наличии: {{#if availability}}<span>Есть</span>{{else}}<span>Нету</span>{{/if}} </h6>
                  </div>
                </div>
              </div>
                
              {{/each}}
              <p class="container"><button type="button"
                class="btn btn-secondary mt-2" style="width:100%">Все товары</button></p>
            </div>
          </div>
          <div class="col-lg-6">
            <p>Адреса аптек</p>
            <div class="row">
              {{#each pharmacies}}
                <div class="card">
                  <div class="card-body">
                    {{{map_link}}}
                    <h5 class="card-title">{{address}}</h5>
                    <h5 class="card-title">{{time}}</h5>
                  </div>
                </div>
              {{/each}}
              <button type="button"
                class="btn btn-secondary mt-2">Все аптеки</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
