<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../lib-css/bootstrap.min.css" />
    <link rel="stylesheet" href="../lib-css/lightgallery-bundle.min.css" />
    <link rel="stylesheet" href="../css/catalog.css" />
    <script src="../scripts/bootstrap.min.js" defer></script>
    <title>{{title}}</title>
  </head>
  <body>
    <header class="text-bg-primary p-2">
      <div class="container">
        <h1>Rental Housing</h1>
      </div>
    </header>
    <main>
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-4">
            <li class="breadcrumb-item">Аренда</li>
            <li class="breadcrumb-item">На месяц</li>
            <li class="breadcrumb-item active" aria-current="page">
              {{title}}
            </li>
          </ol>
        </nav>
        <h3>{{title}}</h3>
        <h4 class="mb-3">{{city}}, {{address}}</h4>
        <div class="d-flex gallery">
          <div
            class="gallery-container d-flex align-items-center justify-content-center"
            id="gallery-container"
          >
          {{#each gallery}}
            <a class="gallery-item"
              data-src="{{this.src}}">
              <img class="img-fluid"
                src="{{this.thumb}}" />
            </a>
          {{/each}}
          </div>
          <div class="card gallery-pricing">
            <div class="card-body">
              <div class="d-flex gap-4">
                <div>
                  <h6>BYN</h6>
                  <h5>{{priceBYN}} BYN</h5>
                  <h6>{{pricePerMetreBYN}} USD/м<span>&#178;</span></h6>
                </div>
                <div>
                  <h6>USD</h6>
                  <h5>{{priceUSD}} USD</h5>
                  <h6>{{pricePerMetreUSD}} USD/м<span>&#178;</span></h6>
                </div>
              </div>
              {{!-- <h6>Условия сделки: <span>долевое строительство</span></h6>
              <h6>Срок сдачи: <span>На стадии строительства</span></h6> --}}
              <a href="#" class="btn btn-primary mt-4">{{phoneNumber}}</a>
            </div>
          </div>
        </div>
        <div class="d-flex gap-4 mt-3">
          <div>
            <h4>{{generalFlattening}}м<span>&#178;</span></h4>
            <h5>Общая</h5>
          </div>
          <div>
            <h4>{{livingArea}}м<span>&#178;</span></h4>
            <h5>Жилая</h5>
          </div>
          <div>
            <h4>{{floor}} из {{totalFloors}}</h4>
            <h5>Этаж</h5>
          </div>
        </div>
        <h4>Описание</h4>
        <p>
          {{description}}
        </p>
        <h4>Параметры</h4>
        <ul>
          {{#each parameters}}
            <li>{{@key}}: {{this}}</li>
          {{/each}}
        </ul>
        <h4>Расположение на карте</h4>
        <p>{{city}}, {{address}}</p>
        <div class="mb-4">
          {{{mapLink}}}
        </div>
      </div>
    </main>
    <footer class="text-bg-secondary p-5">
      <div class="container text-center">
        <h1>Rental Housing</h1>
        <h6>Курсовой проект</h6>
        <h6>Олеников Михаил Фадеевич ПО-447</h6>
      </div>
    </footer>
    <script src="../scripts/lightgallery.min.js"></script>
    <script src="../scripts/lg-zoom.min.js"></script>
    <script src="../scripts/lg-thumbmail.min.js"></script>

    <script type="text/javascript">
      const lgContainer = document.getElementById("gallery-container");
      const inlineGallery = lightGallery(lgContainer, {
        dynamic: false,
        slideDelay: 400,
        hash: false,
        // Do not allow users to close the gallery
        closable: false,
        // Add maximize icon to enlarge the gallery
        showMaximizeIcon: true,
        container: lgContainer,
        // Do not allow users to close the gallery
        closable: false,
        // Add maximize icon to enlarge the gallery
        showMaximizeIcon: true,
        plugins: [lgZoom, lgThumbnail],
      });

      // Since we are using dynamic mode, we need to programmatically open lightGallery
      inlineGallery.openGallery(0);
    </script>
  </body>
</html>
